body {
  font-family: 'gg sans', sans-serif;
  background-color: white;
}

.logo-profile {
  margin-left: 10%;
  margin-right: 50%;
}
.logo-profile-photo {
  width: auto;
  height: 80px;
  
  margin-right: 50%;
}
.logo-text-photo {
  width: auto;
  height: 20px;
  margin-top: 500px;
  margin-right: 50%;
}
.text-profile {
  padding-top: 10px;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #013220;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 20px solid #013220;
  justify-content: center;
}
ul {
  list-style-type: none;
}

.logo-profile {
  margin-left: 10%;
  margin-right: 50%;
}
.logo-profile-photo {
  width: auto;
  height: 80px;
  margin-right: 50%;
}
.logo-text-photo {
  width: auto;
  height: 20px;
  margin-top: 500px;
  margin-right: 50%;
}
.text-profile {
  padding-top: 10px;
  text-align: center;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #026943;
  display: block;
  
}
.sidenav active hover{
  color: #026943;
}
.sidenav a:hover {
  color: #f1f1f1;
  transition-duration: 0.4s;
}

.tools {
  padding-top: 20px;
}

.main {
  margin-left: 300px; 
  font-size: 28px; 
  padding: 20px 50px;
  color: #153e25;
  text-align: center;
}

.main button{
background-color: #013220;
color: #f1f1f1;
}


h1 {
  font-weight: bold;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.sidebar a{
  color: #4f6f52;
}
.sidebar-active a{
  background-color: var(--bg-color);
  color: var(--text-color);
  opacity: 100%;
  font-weight: bold;
  background-color: #03794d;
  border-radius: 15px;
  color: #f1f1f1;
}


.logo-profile img {
max-width: 150px; 
height: 150px;
align-self: center;
}

